.module_action_con {
	font-size: 14px ;
}

/* Change font everywhere */
h1, h2, h3, h4, h5, h6, body {
	font-family: 'Fira Sans Extra Condensed'!important ;
}

.table thead th, strong {
	font-family: 'Fira Sans Extra Condensed'!important ;
	font-weight: bold ;
}

/* Hide upsell banner */
.notification-nav-bar {
	display: none ;
}

/* Make UI wider */
.container {
	max-width: 95%!important ;
}

/* Dot menu for each operation block */
div.workflow_name_dropdown > i.fa-ellipsis-v,
div.align-middle.d-inline > i
{
	color: white!important ;
	background-color: #FF9800!important ;
	border-radius: 3px!important ;
	padding: 6px 12px!important ;
}

/* Dot menu hover state */
div.workflow_name_dropdown > i.fa-ellipsis-v:hover,
div.align-middle.d-inline > i:hover {
	color: yellow!important ;
}

div.workflow_name_dropdown {
	transform: translateY(-5px)!important ;
}

div.align-middle.d-inline > i:hover
{
	color: #d6d5d6!important;
}
